


.link{
    text-decoration: none;
}


.list {
    list-style: none;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



/*----------------------HEADER-------------------*/

/*------------------------PORTFOLIO-----------------------*/


/*------------------------PROJECTS-----------------------*/




/*----------------------FOOTER-------------------*/





/*---------------MODAL----------------------*/

